html {
    background-color: antiquewhite;
    
}
body {
    font-family: 'Lora';
    font-size: 22px;;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4ca33b;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: left; 
}

.logo-container img {
    height: 60px; 
    margin-right: 10px;
}

.task-bar {
    background-color: #336c27;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}
nav li:hover {
    background-color: #4ca33b;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.search-bar input {
    padding: 0.5em;
    width: 200px;
}

/* main {
    padding: 2em;
} */

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

h2 {
    color: #000000;
    margin-bottom: 1em;
    margin-left: 5px;
    font-weight: bold;
  }

.welcome-container {
    display: flex;
    align-items: center;
}

.welcome-content {
    display: inline-block;
    line-height: .5;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 0;

    font-weight: bold;
    font-size: large;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.new-releases-container {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 2em;
}

.new-releases-container img {
    width: 200px;
    height: 330px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative; /* Ensure the details box is positioned relative to the image */
    z-index: 1; /* Ensure the image appears above other content */
}

.new-releases-container .book-details {
    width: 150px;
    background-color: rgba(240, 228, 228, 0.9); /* Use RGBA for transparent background */
    border: 1px solid #121010;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
    position: absolute;
    z-index: 2; /* Ensure the details box appears above the image */
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
    font-size: small;
    max-width: calc(100vw - 20px);
    left: 0;
}

.new-releases-container .book-item:hover .book-details {
    opacity: 1;
    transform: translateY(0);
    display: block;
}

.new-releases-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* SIGNUP PAGE / Login */
.signup-container, .login-container{
    max-width: 400px;
    margin-top: 10px;
    margin: 10px auto;
    padding: 20px;
    background-color: #4ca33b;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.quote-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.quote-content {
    padding: 20px;
    background-color: #4ca33b;
    border: 2px solid #336c27; /* Darker border for contrast */
    border-radius: 10px;
    color: #fff;
    max-width: 600px; /* Set a maximum width for better readability on larger screens */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for depth */
    opacity: .95;
}

.quote-content .quote {
    font-style: italic;
    margin-top: 15px; /* Slightly increased margin */
}

.quote-content .book {
    margin-top: 10px; /* Adjusted margin */
    font-weight: bold;
}

.quote-content .author {
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
    color: #ffcc00; /* Different color for the author text */
}

/* Style the form content */
.signup-content, .login-content {
    display: grid;
    flex: 1;
    gap: 5px;
}

.signup-container h2, .login-container h2 {
    text-align: center;
}

/* Style labels */
label {
    font-weight: bold;
    display: block;
}

/* Style text inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #336c27;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #61df48;
}

.signup, .login { 
    background-image: url("../images/background.jpeg");
}
#right-image {
    display: flex;
    justify-content: right;
    width: 100%;
    max-width: 200px; 
    border-radius: 5px;
  }

/* Success */

.success { 
    background-image: url("../images/background.jpeg");
}

.success-container {
    display: flex;
    justify-content: center;
}

.success-content {
    background-color: #4ca33b;
    color: #fff;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 4px;
}

.success-img {
    display: flex;
    justify-content: center;
}

/* Book Page */
.book-layout {
    display: flex;
    flex-wrap: wrap;
}

.book-container, .details-container, .comments-container {
    flex: 1;
    min-width: 300px; 
}

.book-container {
    background-color: #fff;
    padding: 20px;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #4ca33b;

}

.details-container {
    background-color: #4ca33b;
    border: 5px solid #fff;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.comments-container {
    flex-basis: 100%;
    margin-top: 20px;
}

.comments-container h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.book-container img {
    border: 5px solid #4ca33b;
    border-radius: 5px;
    max-width: 100%; 
}

.comments-container .comment {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment {
    width: 50%;
}

.comment .auth {
    font-style: italic;
}

.comment .com {
    margin-left: 15px;
}

.comment .date {
    text-align: end;
}

#add-comment-button {
    background-color: #4ca33b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px; /* Add some space between the button and existing comments */
}

#add-comment-button:hover {
    background-color: #61df48;
}

#new-comment-form {
    display: none; /* Hide the form by default */
}

#new-comment-form label {
    display: block;
    margin-bottom: 5px;
}

#new-comment-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit-comment {
    background-color: #4ca33b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit-comment:hover {
    background-color: #61df48;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position: absolute;
    left: -9999px; /* Change top to left */
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}