doctype html
html.success
    head
        link(rel='stylesheet', type='text/css', href='../css/main.css')
        title ReadNext-signup
    body
        header
            div.logo-container
                img(src='../images/logo.png', alt='Logo')
                h1 Welcome To ReadNext!
            div.task-bar
                nav
                    ul
                        li
                            a(href='/') Home
                        li
                            a(href='#') About
                        li
                            a(href='/signup') Signup
                        li
                            a(href='#') Login
                        li 
                            a(href='#') Genres
        main
            .success-container
                .success-content
                    h2 Thank You For Signing Up!
                    .success-img
                      img(src='/images/bookstack.png' alt='Stack of books')